@import url('https://fonts.googleapis.com/css?family=Blinker:700|Blinker:400');

*{
    /* border: 1px solid red; */
    scroll-behavior: smooth;
}

:root{
    --logo:0;

    --text: #010304;
    --background: #d7e6f4;
    --primary: #649fd3;
    --secondary: #c7ddef;
    --accent: #347ab7;

  &[data-theme="dark"] {
    --logo:1;

    --text: #fbfdfe;
    --background: #0b1a28;
    --primary: #2c679b;
    --secondary: #102638;
    --accent: #488ecb;
  }
}


body {
  font-family: 'Blinker',sans-serif;
  font-weight: 400;
  margin:0;
  background-color: var(--background);
}

h1, h2, h3, h4, h5 {
  font-family: 'Blinker';
  font-weight: 700;
}

html {
    font-size: 100%;
    color: var(--text);
    transition: all 0.3s;
} /* 16px */
i {
  color: var(--text);
    scale:1.5;
}

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}
 
.limited-range{
  width:100vw;
  max-width: 1080px;
}

  .logo{
    transition: filter 0.3s;
    filter: invert(var(--logo));
  }

  /* nav bar */   
  .btn-toggle {
    background-color: var(--background);
    color: var(--accent);
    height: 4vh;
    width: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }
     
      
  .button-toggle:focus {
    outline: none;
  }

  nav{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:var(--accent);
    background-color: var(--background);
    width: 100vw;
    border-bottom: 2px solid var(--accent);
    transition: all 0.3s ease-in-out;
    

    &>.limited-range{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 10vh;

        &>.content{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
        }
    }

    & img{
        height:8vh;
        margin: 10px 0px 10px 0px;
        &:hover{
          cursor: pointer;
        }
    }
        &> .top-sub-content-detail{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        min-width:100vw;
        transition: all 0.3s ease-in-out;
        & a{
        border-bottom: 2px solid var(--accent);
        }
        }
        & a{
        text-align: center;
        min-width:100vw;
        background-color: var(--background);
        }
        & a:hover{
            transition: all 0.3s;
            background-color: var(--accent);
            color: var(--background);
            cursor: pointer;
        }
    &[data-nav="close"]> .top-sub-content-detail{
        transform: scaleY(0);
        transform-origin: top center;
        height:0;
    }
    &[data-nav="open"]> .top-sub-content-detail{
        transform: scaleY(1);
        transform-origin: top center;
        height: 10vh;
    }
  }

  .top-sub-content>i{
    margin: 0px 10px 0px 10px;
    scale:2;
  }

  .top-sub-content-detail{
    display: none;
  }

/* the rest */
#home,#about,#projects, #contact{
    padding-top: 11vh;
    height: 89vh;
}

/* search bar */

#home{
  display: grid;
  justify-items: center;
  align-content: center;
  min-width: 90vw;
  min-height: 89vh;
  text-align: center;

  &>.logo{
    width:90vw;
    max-width: 300px;
    margin:-65px;
  }

  &>.sch-bar{
  position: relative;
    display: flex;
    align-items: center;
  overflow: hidden;
  border-radius: 20vmin;
  border: 2px solid var(--primary);
  min-width: 90%;
  min-height: 10vh;
  
  &>button{
    min-width: 10%;
    max-width:10%;
    background-color: var(--background);
    height: 100%;
    border: none;
    transition: all 0.3s;

    &.set-time,&.sch{
    border-left: 1px solid var(--primary);
    }
    &.car-type{
    min-width: 20%;
    max-width:20%;
      border-right: 1px solid var(--primary);
    } 
  }
  /* part of this it cannot read */
  &>button:hover{
    background-color: var(--primary);
    color: var(--background);
    cursor: pointer;
  }
  &>.location{
    opacity: 0.5;
    text-align: left;
    width:60%;
    padding-left: 20px;
    border: none;
    background-color: var(--background);
    height: -webkit-fill-available;

  }
  }
}

input[type=text]:focus {
  border: opx;
}
#car-type-menu{
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0px 20vmin 20vmin 0px;
  background-color: var(--primary);
  color: var(--background);
  transition: all 0.3s;
  position: absolute;
  right:0px;
  width: 80%;
  height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
  z-index: 1;
  list-style: none;
  & li:hover{
    cursor: pointer;
  }
}




  /* mobile first */
  @media (min-width:600px) { 

  .btn-toggle:hover {
    background-color: var(--accent);
    color: var(--background);
  }

    .top-sub-content{
        margin: 0px 10px 0px 10px;
    }

    .top-sub-content>i{
        display: none;
    }

    .top-sub-content-detail{
        display: inline;

        & a{
        padding: 0px 5px 0px 5px;
        }

        & a:not(:first-child){
        border-left: 2px solid var(--accent);
        }
    }
    nav> .top-sub-content-detail{
        display: none;
  }
}